.heroBgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:30px;
}
.heroImage{
    max-width:100%;
    min-width: 700px;
    height:600px;
}
.heroHeading{
    font-family:sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-bottom:30px;
}
.HeroDescription{
    max-width: 900px;
    /* text-align: center; */
    background:  #dfdf07;
    color: #111;
    padding: 50px 75px;
    border-radius: 35px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.3s;
}

